<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <p>Usuario:</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario" >
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <p>Password</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <input type="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <p>Reingrese Password</p>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
        <input type="password" placeholder="Password" [(ngModel)]="password2">
    </div>
</div>
<div class="row" *ngIf="password==password2" >
    <div class="offset-2">
        <input type="button" [disabled]="this.usuario == '' || this.password ==''  " class="btn btn-danger" 
        value="Registrar" (click)="registrar()">
    </div>
</div>